/* common */
a {
  color: #000;
}

#header .header_navigate .header_link a {
  color: #00bfff;
}

/* sign in */
#main_content {
  height: 90vh;
}

#main_content .signin_form {
  background-color: rgb(241, 241, 241);
  margin: 150px auto 50px;
  width: 450px;
  border: 4px double rgb(233, 232, 232);
  border-radius: 10px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#main_content .signin_form .signin_title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

#main_content .signin_form form {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#main_content .signin_form .common_signin__style .signin_input {
  display: block;
  width: 350px;
  height: 50px;
  font-size: 23px;
  border: 1px solid rgb(201, 200, 200);
  border-radius: 4px;
  border-collapse: collapse;
  margin: 0 auto 2px;
}

#main_content .signin_form #signin_btn {
  width: 350px;
  height: 50px;
  border: 1px solid rgb(72, 72, 249);
  border-radius: 5px;
  background-color: rgb(66, 66, 247);
  font-size: 18px;
  color: #fff;
}

#main_content .signin_form #signin_btn:focus,
#main_content .signin_form #signin_btn:hover {
  background-color: rgb(51, 51, 249);
  color: #fff;
}

#main_content .signin_form .style_a {
  text-align: center;
  font-size: 17px;
}

#main_content .signin_form .style_a .move_signup {
  color: #000;
  margin: auto;
  border: none;
}

#main_content .signin_form .style_a .move_signup:focus,
#main_content .signin_form .style_a .move_signup:hover {
  color: cornflowerblue;
}
