@charset "UTF-8";

#main-container{
	margin-top: 110px;
	height: 1500px;
}

.main-container__content{
	margin-top: 30px;
}

.main-container__content event{
	border: 1px solid;
}


.swiper {
  position: relative;
}

.swiper .swiper-slide {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.swiper .swiper-slide img {
	width: 372px;
	height: 270px;
}

.material-icons {
  font-size: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  content: "";
  display: none;
}

.swiper-pagination {
  color: white;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev {
  left: 120px;
}
.swiper-button-next {
  right: 120px;
}

/* event */
#main-container .main-container__event {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-container .main-container__event .event__main {
  width: 600px;
  height: 400px;
}

#main-container .main-container__event .event__main .event__main-box {
  height: 400px;
  border: 1px solid black;
  font-size: 25px;
  text-align: center;
  line-height: 400px;
  cursor: pointer;
  background-color: #E6E6FA;
}

#main-container .main-container__event .event__personality-quiz {
  width: 800px;
}

#main-container .main-container__event .event__personality-quiz .event__personality-quiz--fir {
  height: 400px;
  border: 1px solid black;
  font-size: 25px;
  text-align: center;
  line-height: 400px;
  background-color: #F0FFF0;
  cursor: pointer;
}